<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <app-erro-msg></app-erro-msg>
      <div class="text-center" *ngIf="!existemPessoas()">
        Nenhuma pessoa cadastrada!
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{pessoa.nome}}</td>
        <td>{{getIdadePessoa(pessoa.data_nascimento)}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm ml-1"
            routerLink="/pessoa/editar/{{pessoa.id}}">Editar</button>
          <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePessoa(pessoa.id)">Excluir</button>
        </td>
      </tr>
    </tbody>

  </table>

  <div class="text-right">
    <button type="button" class="btn btn-success" routerLink="/pessoa/inserir">Inserir Pessoa</button>
  </div>

  <!--
  <div class="row mt-3" *ngFor="let pessoa of pessoas">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{pessoa.nome}}</p>
        </div>

        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/pessoa/editar/{{pessoa.id}}">Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletePessoa(pessoa.id)">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
</div>